/* GLOBAL CSS */

/* Body */
body {
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #182e48; /* Background: Darkblue */
  margin: 0;
  padding: 0;
}

/* H2 */
h2 {
  text-align: center; /* Align: Center */
  color: #deb992; /* Text: Gold */
}

/* Table - H2 */
table h2 {
  font-size: 32px;
  text-align: center;
}

/*** FOREGROUND ***/

/* Foreground */
.foreground
{ background-color: #1a2f45;
  color: #849a9f;
  width: 100%;
  padding: 10px;
  border: 1px #635342;
  border-style: solid none;
  margin-bottom: 100px;
}

/* Foreground Utility */
.foreground-utility {
  color: #849a9f;
  background-color: #1a2f45;
  width: 100%;
  border: 1px #635342;
  border-style: solid none;
  padding: 10px;
}

/* Foreground - Heading 2 */
.foreground h2 {
  padding: 0;
  font-size: 30px;
  text-align: center;
  color: #deb992
}

/* Foreground - Paragraph */
.foreground p {
  font-size: 20px;
  text-align: center
}

/* Foreground - Header */
.foreground-page-header {
  width: 100%;
  border: 1px #deb489;
  border-style: solid none;
  color: #cccccc;
  text-align: center;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.5);
}

/* Foreground - Header H2 */
.foreground-page-header h2 {

  color: #cccccc; /* Text: Gray */
  text-align: center; /* Align: Center */
  font-size: 1.5em; /* Size: 1.5em */
}

/*** MENU ***/

/* Menu */
.menu {
  align-content: center;
  width: 100%; /* Width 100% */
  border-radius: 20px;
  color: #849a9f;
  border: 1px solid #deb992;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #1a2f45;
  margin: 5px;
}

/*** FLEX CONTAINER ***/

/*** FLEX CONTAINER ***/

/* Flex Container */
.flex-container
{
  width: 100%;
  display: flex;     /* Flex */
  flex-wrap: wrap;    /* Wrap to next row if screen gets too small */
  flex-direction: row;/* Flex direction (Left to right) */
}

/* Flex Container > Div */
.flex-container > div
{
  margin: 10px; /* Margin 10px */
}

/** Labels and Inputs */
.flex-container label, .flex-container input{
  display:flex;          /* Flex */
  flex-direction:column; /* Flex top to bottom */
}

/*** BUTTONS ***/

/* Button Container */
.button-container {
  height: 20px;
  position: relative;
}

/* Button-Center */
.button-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Button Menu */
.button-menu button
{
  padding: 5px 10px;
  margin-right: 15px;
  overflow: hidden;
  align-self: center;
}


/* For screens with a maximum width of 720px */
@media screen and (max-width: 720px) {

  /*** FOREGROUND ***/
  .foreground {
    width: 97%;
  }

  /*** MENU ***/
  /* Edit Menu */

  .menu {
    width: 95%;
    border-radius: 20px;
    margin: 5px;
  }

  /* Edit Menu: Label */
  .menu label {
    font-size: 24px;
  }

  /* Edit Menu: Input, Select */
  .menu input, select {
    padding: 10px;
  }

  /* Edit Menu: Button */
  .menu button {
    font-size: 20px;
    padding: 5px 0;
    border: 10px;
  }


  /*** FLEX CONTAINER ***/

  /* Flex Container */
  .flex-container
  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Top to Bottom */
  }

  /* Flex Container: Div */
  .flex-container > div
  {
    margin: 5px;
  }

  /* Flex Container: Input */
  .flex-container input
  {
    align-items: center;
  }

  .flex-container button
  {
    flex-direction: row;
  }

  /*** BUTTONS ***/
  .button-menu button
  {
    padding: 10px 20px;
    margin-right: 15px;
    overflow: hidden;
  }

  /*** ERROR MESSAGE ***/

  .error-message
  {
    font-size: 22px;
  }



}

