/*** CARDS ***/

/* Card Container */
.card-container {
  display: flex; /* Flex */
  flex-wrap: wrap; /* Wrap to next row if screen gets too small */
  flex-direction: row; /* Flex direction (Left to right) */
}

/* Card */
.card {
  background-color: #1a2f45;
  color: #849a9f;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid #deb992;
  align-content: center;
}

/* Card: Table Header, Table Data */
.card th, .card td {
  text-align: left; /* Align Text Left */
}

/* Card: Table Header */
.card th {
  color: #deb992;
}


/* For screens with a maximum width of 720px */
@media screen and (max-width: 720px) {

  /* Table */
  table {
    table-layout: auto;
    width: 100%;
  }

  /*** CARDS ***/

  /* Card Container */
  .card-container {
    max-width: 100%; /* Take the maximum width of the screen */
    flex-direction: column; /* Flex so entries go underneath eachhother on phone screens */
    align-items: stretch;
  }

  /* Card (Table) */
  .card table {
    width: 100%; /* Take the maximum width of the card */
  }

  /* Card (Table Header, Table Data) */
  .card th, .card td {
    padding: 4px; /* Cell Padding: 4px; */
    text-align: left; /* Align Text Left */
  }

  /* Card (Heading 2) */
  .card h2 {
    text-align: center; /* Align: Center */
    font-size: 22px; /* Set font size to 22px */
  }




}
